
src/.env

aws

# [data]

data/dataset/aihub/corpus/*
data/dataset/aihub/KVQA/*
data/dataset/aihub/tour_log/*

data/dataset/etc/*
data/dataset/tourAPI/*.xls

data/preprocessed_dataset/tourAPI/*

data/raw_dataset/aihub/corpus/*
data/raw_dataset/aihub/KVQA/*
data/raw_dataset/aihub/tour_log/*

data/raw_dataset/TourAPI/culturalFacilities/*
data/raw_dataset/TourAPI/leisutrSports/*
data/raw_dataset/TourAPI/lodgment/*
data/raw_dataset/TourAPI/restaurant/*
data/raw_dataset/TourAPI/shopping/*
data/raw_dataset/TourAPI/thingsToEnjoy/*
data/raw_dataset/TourAPI/tourCourse/*
data/raw_dataset/TourAPI/touristAttractions/*
data/raw_dataset/TourAPI/traffic/*

# [src]

src/__pycache__

src/collecting_data/__pycache__
src/collecting_data/data_analysis/tourapi_*_processed.csv

src/collecting_data/data_analysis/__pycache__

src/modeling/data/*.json
src/modeling/data/*jsonl
src/modeling/data/*log

src/modeling/outputs/*

src/collecting_data/data_analysis/transformed_tourapi_*.json
